img {
  vertical-align: middle;
  position: absolute;
  left: 20px;
  width: 10%;
}

header div {
  text-align: center;
  color: white;
  padding: 20px;
  background-color: darkblue;
  border: 2px solid darkblue;
}

nav {
  padding: 5px;
  text-align: center;
  background-color: #e4e4e4;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  border: 1px solid gray;
  padding: 5px;
  font-size: 25px;
  color: darkblue;
}

section h2 {
  background-color: #e4e4e4;
  margin: 0;
  padding: 15px;
}
